DJANGO_SECRET_KEY='^#a89%jdtvf__k=7ehe$b&*rxbw*v80cp6apdwr$t+n@f6al3o'
DEBUG=True
VITE_SUPABASE_URL='https://szrsoezigpxtvlohluwh.supabase.co'
VITE_SUPABASE_ANON_KEY='sb_publishable_M-m04QETH4IL01wrueIxQA_Nl1zeiiq'
